<<<<<<< HEAD
<<<<<<< HEAD
<h1>Hello
    <%= @nombre %>
    !!
</h1>
<body>
    <%= image_tag("Meme.png", height: '400', width: '400')%>
</body>

<%= link_to "Create new product", new_product_path %>
=======
<h1>Hello
    <%= @nombre %>
    !Rama!
</h1>
<body>
    <%= image_tag("Meme.png", height: '400', width: '400')%>
</body>
>>>>>>> 92dbdecc95f9bd90199ae729facc27f357e55d4c
=======
<h1>Hello
    <%= @nombre %>
    !!
</h1>
<body>
    <%= image_tag("Meme.png", height: '400', width: '400')%>
</body>

<%= link_to "Create new product", new_product_path %>
>>>>>>> 8d882d33bf10adfb2b7291ae2d69cd2df20ac365
