<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DCCRent</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<main class="main-products-container">
    <header class="header">
      <div class="header__chat-btn">
        <%= link_to"Chat", conversations_path, class: 'header__chat' %>
      </div>
      <% if user_signed_in? %>
        <% if current_user.role == 'admin' %>
          <div class="header__admin-btn">
            <%= link_to"Admin Portal", rails_admin_path, class: 'header__admin' %>
          </div>
          <nav class="navbar">
            <ul class="navbar__items", style="width:500px; margin-left: 230px;">
        <% else %>
          <nav class="navbar">
            <ul class="navbar__items">
        <% end %>
      <% else %>  
        <nav class="navbar">
          <ul class="navbar__items">
      <% end %>
          <li><a class="navbar__link" href="<%= root_path %>">Home</a></li>
          <li><a class="navbar__link" href="<%= products_path %>">Collections</a></li>
          <li><a class="navbar__link" href="<%= requests_index_path %>">My Requests</a></li>
          <li><a class="navbar__link" href="<%= reviews_index_path %>">My Reviews</a></li>
          <li><a class="navbar__link" href="<%= root_path %>">Contact</a></li>
        </ul>
      </nav>

      <div class="header__cart-avatar">
          <div class="header__cart">
            <div class="header__cart--notification"><%= @order_items.length()%></div>
            <%= image_tag('icons/cart.png', class: "header__cart-icon") %>
          </div>
          <% if user_signed_in? %>
            <%= link_to image_tag('icons/avatar.png', class: "header__avatar", alt: ""), edit_user_registration_path %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <%= link_to"Sign Out", destroy_user_session_path, method: :delete, class: 'header__sign' %>
        <% else %>
          <%= link_to"Sign In", new_user_session_path, class: 'header__sign' %>
        <% end %>
      </div>
    </header>



    <section class="products-index">
      <article class="products">
        <h2 class="products__filter"><%= @filter %></h2>
        <% @i = (@products.length()/3.to_f).ceil - 1 %>
        <% (0..@i).each do |row_num| %>
          <div class="products__gallery">
            <% @j = 0 %>
            <% @products.each do |product| %>
              <% if (@j <= (row_num*3+2)) && (@j >= (row_num*3)) %>
                <div class="products__product-container">
                  <%= link_to image_tag(product.images[0], class: "products__image"), product_path(product) %>
                  <h2 class="products__title"><%= product.name %></h2>
                  <h2 class="products__price">$<%= number_with_delimiter(product.price, :delimiter => '.') %></h2>
                  <div class="products__rating">
                    <% if product.review > 0.5 and product.review < 1%>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-half"></i>
                      </div>
                    <% elsif product.review >= 1 %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-fill "></i>
                      </div>
                    <% else %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star"></i>
                      </div>
                    <% end %>
                    <% if product.review > 1.5 and product.review < 2%>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-half"></i>
                      </div>
                    <% elsif product.review >= 2 %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-fill"></i>
                      </div>
                    <% else %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star"></i>
                      </div>
                    <% end %>

                    <% if product.review > 2.5 and product.review < 3%>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-half"></i>
                      </div>
                    <% elsif product.review >= 3 %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-fill"></i>
                      </div>
                    <% else %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star"></i>
                      </div>
                    <% end %>

                    <% if product.review > 3.5 and product.review < 4%>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-half"></i>
                      </div>
                    <% elsif product.review >= 4 %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-fill"></i>
                      </div>
                    <% else %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star"></i>
                      </div>
                    <% end %>

                    <% if product.review > 4.5 and product.review < 5%>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-half"></i>
                      </div>
                    <% elsif product.review >= 5 %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star-fill"></i>
                      </div>
                    <% else %>
                      <div class="products__rating--stars">
                        <i class="bi bi-star"></i>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>   
            <% @j = @j + 1 %>
            <% end %> 
          </div>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.role != 'user' %>
            <section class="moderator-view">
              <article class="moderator-btns">
                <button class="moderator-btns__new-product-btn">
                  <%= link_to "Create New Product", new_product_path, class:'moderator-btns__new-product' %>
                </button>
              </article>
            </section>
          <% end %>
        <% end %>

      </article>
    </section>


    <%= render :partial => "layouts/cart-modal.html.erb" %>
  </main>
  <%= javascript_pack_tag 'cart-index' %>
</body>
</html> 