<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
  <title>DCCRent</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
</head>
<body>
<main class="main-container-reviews-new">
    <header class="header">
      <div class="header__chat-btn">
        <%= link_to"Chat", conversations_path, class: 'header__chat' %>
      </div>
      <% if user_signed_in? %>
        <% if current_user.role == 'admin' %>
          <div class="header__admin-btn">
            <%= link_to"Admin Portal", rails_admin_path, class: 'header__admin' %>
          </div>
          <nav class="navbar">
            <ul class="navbar__items", style="width:500px; margin-left: 230px;">
        <% else %>
          <nav class="navbar">
            <ul class="navbar__items">
        <% end %>  
      <% else %>  
      <nav class="navbar">
        <ul class="navbar__items">
      <% end %>
          <li><a class="navbar__link" href="<%= products_path %>">Collections</a></li>
          <li><a class="navbar__link" href="<%= requests_index_path %>">My Requests</a></li>
          <li><a class="navbar__link" href="<%= reviews_index_path %>">My Reviews</a></li>
          <li><a class="navbar__link" href="<%= root_path %>">About</a></li>
          <li><a class="navbar__link" href="<%= root_path %>">Contact</a></li>
        </ul>
      </nav>

      <div class="header__cart-avatar">
          <div class="header__cart">
            <div class="header__cart--notification"><%= @order_items.length()%></div>
            <%= image_tag('icons/cart.png', class: "header__cart-icon") %>
          </div>
          <% if user_signed_in? %>
            <%= link_to image_tag('icons/avatar.png', class: "header__avatar", alt: ""), edit_user_registration_path %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <%= link_to"Sign Out", destroy_user_session_path, method: :delete, class: 'header__sign' %>
        <% else %>
          <%= link_to"Sign In", new_user_session_path, class: 'header__sign' %>
        <% end %>
      </div>
    </header>

  <article class="content">
    <section class="new-reviews">
    <%= image_tag(@product.images[0], class: "new-reviews__img") %>
      <div class="new-reviews__product">
        <p class="new-reviews__head">¡Edit your rating!</p>

        <%= form_for [@product, @review] do |form|%>

        <% if @review.errors.any? %>
          <h2>Errors:</h2>
          <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li> <%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="new-reviews__first">
          <%= form.text_field :title, class:"new-reviews__title", placeholder:"Title" %>
        </div> 
        <div class="new-reviews__first">
          <%= form.text_field :description, class:"new-reviews__description", placeholder:"Description" %>
        </div>
        <div class="new-reviews__first">

          <%= form.text_field :score, class:"new-reviews__score", placeholder:"Score (between 0 and 5)" %>
        </div>

        <div class="field form-group">
          <%= form.submit "Edit your review", class:'new-reviews__submit-edit' %>
        </div>
        <% end %>
      </div>
    </section>
    <% if current_user.role != 'user' %>
      <%= link_to "Back to product", product_path(@product), class: 'new-reviews__back', style: 'margin-top: 20px;' %>
    <% else %>
      <%= link_to "Back to product", product_path(@product), class: 'new-reviews__back', style: 'margin-top: 30px;' %>
    <% end %>

  </article>


      <%= render :partial => "layouts/cart-modal.html.erb" %>

</main>
<%= javascript_pack_tag "cart-index" %>
</body>
</html>



